.tooltip-container {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #FFAA00;
    background: #ccc;
    padding: 0 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        font-weight: 100;
        font-size: 10px;
        line-height: 5px;  
    }
}