.total-death-wrapper {
    background-color: #222;
    border: 1px solid #363636;;
    height: 100%;

    .header {
        color: white;
        text-align: center;
        height: 20%;

        span {
            font-size: 10px;
        }

        .number {
            display: block;
            font-size: 33px;
            font-weight: 600;
            box-sizing: border-box;
            letter-spacing: .7px;
        }
    }

    .content {
        height: 80%;
        overflow: hidden;

        ul {
            height: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            overflow: auto;      
    
            li {
              padding: 5px 10px;
              border-bottom: .5px solid #5c5c5c;
              border-top: .5px solid #5c5c5c;
              cursor: pointer;
    
              &:first-child {
                border-top: none;
              }
    
              &:last-child {
                border-bottom: none;
              }
    
              .number {
                font-size: 14px;
                margin-right: 5px;
              }
    
              .country{
                display: block;
                color: #BDBDBD;
                font-size: 12px;
              }
            }
          }
    }
}

.recovered {
    color: rgb(112, 168, 0);
}

.deaths {
    color: white;
}