.list-wrapper {
  background-color: #222;
  border: 1px solid #363636;
  height: 75%;
  margin-bottom: 10px;

  .list-header {
    height: 8vh;

    p {
      line-height: 14px;
      margin: 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: #BDBDBD;
      font-size: 1vw;
      padding-top: 10px;
    }
  }

  .list-content{
    height: 89.5%;
    overflow: hidden;

    ul {
      height: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: auto;      

      li {
        padding: 5px 10px;
        border-bottom: .5px solid #5c5c5c;
        border-top: .5px solid #5c5c5c;
        cursor: pointer;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        .number {
          display: inline-block;
          color: red;
          font-size: 18px;
          margin-right: 5px;
        }

        .country{
          color: #BDBDBD;
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .list-wrapper {
    height: 33.3vh;
  
    .list-header {
      height: 6vh;
      padding-top: 5px;
  
      p {
        font-size: 14px;
        padding-top: 6px;
      }
    }
  
    .list-content {
      height: 82.5%;
    }
  }
}
