.list-wrapper {
  background-color: #222;
  border: 1px solid #363636;
  height: 70%;
  margin-bottom: 10px;

  .list-header {
    height: 15%;
    box-sizing: border-box;

    p {
      line-height: 17px;
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: #BDBDBD;
      padding: 6px;
    }
  }

  .list-content{
    height: 85%;
    overflow: hidden;

    ul {
      height: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: auto;      

      li {
        padding: 5px 10px;
        border-bottom: .5px solid #5c5c5c;
        border-top: .5px solid #5c5c5c;
        cursor: pointer;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        .number {
          display: inline-block;
          color: red;
          font-size: 18px;
          margin-right: 5px;
        }

        .country{
          color: #BDBDBD;
          font-size: 15px;
        }
      }
    }
  }
}