.updated-at {
  height: 8%;
  text-align: center;
  background-color: #222;
  border: 1px solid #363636;
  padding: 5px;
  line-height: normal;
  vertical-align: middle;

  span, p {
    color: #BDBDBD;
    letter-spacing: .5px;
    font-size: 1vw;
  }
}