@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;  
  padding: 10px;
  margin: 0;
  background: black;
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  display: -ms-grid;
  grid-template-rows: auto 1fr auto;
  -ms-grid-rows: auto 1fr auto;
}

p {
  margin: 0;
}

a {
  color:  #2493f2;;
}